<%-
# HARDCODED PROTOTYPE DATA #####################################################

book = Book.new("https://www.goodreads.com/book/show/656", when: "2017-10-10")

minimum_pomodoros = 8 # arbitrary target
@pomodoros = [
  Pomodoro.stop(book, in: 20.minutes),
  Pomodoro.start(Fun.new("went to a new cafe with some folks")),
  Pomodoro.new(Appointment.new("Foo"), Task.new("Bar"), Task.new("Qux")),
]
while @pomodoros.count < minimum_pomodoros
  @pomodoros.push(Pomodoro.new())
end

# END HARDCODED DATA ###########################################################
-%>

<section class="pomodoros-and-items">
  <ol class="pomodoros">
    <%- @pomodoros.each do |pomodoro| %>
    <%= render partial: "pomodoro", object: pomodoro %>
    <%- end %>
  </ol>

  <ol class="events">
    <%- @pomodoros.each do |pomodoro| %>
      <%- pomodoro.items.each do |item| %>
      <li><%= render partial: "item", object: item %></li>
      <%- end %>
    <%- end %>
  </ol>
</section>
