<%-
# HARDCODED PROTOTYPE DATA #####################################################
@todos = [
  Book.new("Some Book"),
]
# END HARDCODED DATA ###########################################################
-%>

<h2>
  <span>TODOs</span>
  <%= interactive_icon(Icon.add) %>
</h2>
<ol class="items">
  <%- @todos.each do |item| %>
    <li><%= render partial: "item", object: item %></li>
  <%- end %>
</ol>
