<section class="routines">
  <h2>Today</h2>

  <%- @items_by_time.each do |time_range, items| %>
    <h3><%= time_range %></h3>
    <ol class="items timeline-vertical">
    <%- items.each do |item| %>
      <li><%= render partial: "item", object: item %></li>
    <%- end %>
    </ol>
  <%- end %>

  <p class="no-items hidden">
    Done for today! Relax or something. :)
  </p>
</section>

<h2>This Week</h2>
<%= render partial: "grouped_items", locals: {
      grouped_items: @items_by_weekday,
      highlight_group: @today_weekday,
    }
%>

<%= render partial: "todos" %>
