<%-
# HARDCODED PROTOTYPE DATA #####################################################
# END HARDCODED DATA ###########################################################
-%>

<h2>Today</h2>
<%= render partial: "pomodoros" %>

<h2>This Week</h2>
<%= render partial: "week" %>

<h2>Beyond</h2>
<%= render partial: "goals" %>

<%- content_for(:sidebar) do %>
  <%= render partial: "todos" %>
<%- end %>
