<h2>Today</h2>

<section class="routines">
  <%= render partial: "grouped_items", locals: {
        grouped_items: @items_by_time,
        highlight_group: "after work",
        direction: "vertical",
      }
  %>

  <p class="no-items hidden">
    Done for today! Relax or something. :)
  </p>
</section>

<h2>This Week</h2>
<%= render partial: "grouped_items", locals: {
      grouped_items: @items_by_weekday,
      highlight_group: @today_weekday,
      direction: "horizontal",
    }
%>

<%= render partial: "todos" %>
