<%-
# HARDCODED PROTOTYPE DATA #####################################################
# END HARDCODED DATA ###########################################################
-%>

<%- content_for(:title) { "Future Perfect" } %>

<section class="past-present-future">
  <%= render partial: "timeline" %>
  <%= render partial: "week" %>
  <%= render partial: "goals" %>
</section>

<section class="sidebar">
  <%= render partial: "todos" %>
</section>
