<%-
# HARDCODED PROTOTYPE DATA #####################################################

@past = [
  Task.new("trimmed plants in the front yard", when: "2017-10-14"),
  Task.new("entered receipts into YNAB", when: "2017-10-13"),
  Task.new("made car care checklist for Acura", when: "2017-10-15"),
  Tweet.new("https://twitter.com/arthaey/status/920298884219387905", when: "2017-10-17"),
  Book.new("https://www.goodreads.com/book/show/625203", when: "2017-10-10"),
  Book.new("https://www.amazon.com/dp/1400079985/", when: "2017-10-10"),
]
@past.sort_by! { |item| item.timestamp }

# END HARDCODED DATA ###########################################################
-%>

<%- content_for(:title) { "Past" } %>

<h2>Timeline</h2>
<ol class="events timeline-vertical">
  <%- @past.each do |event| %>
    <li><%= render partial: "item", object: event %></li>
  <%- end %>
</ol>
