@import "font-awesome-sprockets";
@import "font-awesome";

.icon-with-bg, .icon-without-bg {
  @extend .fa-stack;
}

.icon {
  @extend .fa;
  @extend .fa-stack-1x;
}

.interactive-icon {
  color: $secondary-color;
  cursor: pointer;

  &.icon-without-bg:hover {
    color: $action-color;
  }

  &:hover .icon-bg {
    color: $action-color;
  }

  &:started {
    // fiddled with color picked to match $action-color to "inverted" icon
    filter: invert(100%) hue-rotate(180deg) brightness(260%) saturate(95%);
  }
}

.icon-bg {
  @extend .icon;
  color: $body-bg;
}

.fa-circle:not(.icon-bg) {
  font-size: $small-font;
}

@mixin icon($icon, $bg) {
  .icon {
    @extend .fa-#{$icon};
  }

  .icon-bg {
    @extend .fa-#{$bg};
  }
}

@mixin square-icon($icon) {
  @include icon($icon, "square");
}

@mixin circle-icon($icon) {
  @include icon($icon, "circle");
}

.type-Appointment { @include square-icon("calendar"); }
.type-Book { @include square-icon("book"); }
.type-Item { @include circle-icon("circle"); }
.type-Task { @include square-icon("check-square-o"); }
.type-Fun { @include circle-icon("smile-o"); }
.type-Tweet { @include circle-icon("twitter"); }
