@import "font-awesome-sprockets";
@import "font-awesome";

.icon-with-bg {
  @extend .fa-stack;
}

.icon {
  @extend .fa;
  @extend .fa-stack-1x;
}

.icon-bg {
  @extend .icon;
  color: $body-bg;
}

.interactive-icon {
  color: $secondary-color;
  cursor: pointer;

  &:hover .icon-bg {
    color: $action-color;
  }

  &:started {
    // fiddled with color picked to match $action-color to "inverted" icon
    filter: invert(100%) hue-rotate(180deg) brightness(260%) saturate(95%);
  }
}

@mixin icon($icon, $bg: null) {
  .icon {
    @extend .fa-#{$icon};
  }

  @if ($bg) {
    .icon-bg {
      @extend .fa-#{$bg};
    }
  }
}

@mixin square-icon($icon) {
  @include icon($icon, "square");
}

@mixin circle-icon($icon) {
  @include icon($icon, "circle");
}

.interactive-icon[aria-label='add'] { @include circle-icon("plus-circle"); }
.interactive-icon[aria-label='save'] { @include square-icon("save"); }
.interactive-icon[aria-label='timer'] { @include icon("hourglass"); }

.type-Item {
  @include circle-icon("circle");
  .icon {
    font-size: $small-font;
  }
}

.type-Appointment { @include square-icon("calendar"); }
.item-done .type-Appointment { @include square-icon("calendar-check-o"); }
.type-Book { @include square-icon("book"); }
.type-Fun { @include circle-icon("smile-o"); }
.type-Ocr { @include square-icon("pencil"); }
.type-Task { @include square-icon("square-o"); }
.item-done .type-Task { @include square-icon("check-square-o"); }
.type-Tweet { @include circle-icon("twitter"); }

/*
 * POTENTIAL ICONS:
 * at (email?)
 * beer
 * bell
 * birthday-cake
 * bookmark
 * briefcase
 * bug
 * calendar
 * camera
 * car
 * clock-o
 * code
 * coffee
 * commenting
 * comments
 * compass
 * credit-card
 * cutlery
 * envelope
 * fire
 * frown-o
 * gift
 * globe
 * graduation-cap
 * hashtag
 * heart
 * history
 * home
 * hourglass
 * inbox
 * language
 * leaf
 * lightbulb-o
 * map
 * mobile-phone
 * money
 * music
 * paint-brush
 * paw
 * pencil
 * phone
 * plane
 * podcast
 * puzzle-pice
 * question-circle
 * quote-left
 * recycle
 * refresh
 * rss-square
 * search
 * ship
 * shopping-cart
 * snowflake-o
 * star
 * sticky-note
 * sun-o
 * tags
 * televison
 * terminal
 * tree
 * user-secret
 * wrench
 * dollar
 * file-text-o
 * repeat
 * paragraph
 * scissors
 * facebook-official
 * flickr
 * foursquare
 * get-pocket
 * git-square
 * github
 * medium
 * reddit-alien
 * stack-overflow
 * steam-square
 * tumblr-square
 * youtube
*/
