@import "font-awesome-sprockets";
@import "font-awesome";

.icon-with-bg, .icon-without-bg {
  @extend .fa-stack;
}

.icon {
  @extend .fa;
  @extend .fa-stack-1x;
}

.interactive-icon {
  color: $secondary-color;
  cursor: pointer;

  &.icon-without-bg:hover {
    color: $action-color;
  }

  &:hover .icon-bg {
    color: $action-color;
  }

  &:started {
    // fiddled with color picked to match $action-color to "inverted" icon
    filter: invert(100%) hue-rotate(180deg) brightness(260%) saturate(95%);
  }
}

.icon-bg {
  @extend .icon;
  color: $body-bg;
}

.fa-circle:not(.icon-bg) {
  font-size: 0.5rem;
}
