$breathing-room: 1rem;
$indent: 1.5rem;

$item-narrow-width: 15rem;

body {
  background-color: $body-bg;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main, header, footer, .sidebar {
  padding: $breathing-room;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0;
  border-bottom: 2px solid $secondary-color;
}

nav ul {
  flex-grow: 1;
  display: flex;
  list-style: none;
  margin-bottom: 0;

  a {
    color: $secondary-color;
  }

  li {
    font-weight: bold;
    background-color: lighten($secondary-color, 50%);
    border: 2px solid $secondary-color;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    padding: $breathing-room / 2;
    margin-right: $breathing-room;
  }

  li.current {
    color: darken($secondary-color, 15%);
    background-color: lighten($secondary-color, 55%);
  }

  li:not(.current) {
    cursor: pointer;
  }
}

main {
  display: flex;
  flex-direction: row;

  flex-grow: 1;
}

.main-content {
  flex-grow: 1;
}

section {
  margin-bottom: $breathing-room;
}

h1, h2 {
  margin-top: $breathing-room * 2;
  margin-bottom: $breathing-room;
}

.heading-with-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin box($base-color: $primary-color, $lighten-percent: 55%) {
  background-color: lighten($base-color, $lighten-percent);
  border: 2px solid $base-color;;
  border-radius: 1rem;
  padding-top: $breathing-room;
  padding-bottom: $breathing-room;
}

.sidebar {
  @include box;
  margin-left: $breathing-room * 2;
  width: $item-narrow-width;

  h2 {
    @extend .heading-with-action;
    margin-top: 0;

    .icon-with-bg {
      font-size: $medium-font;
    }
  }
}

.action-box {
  @include box($action-color, 35%);
}
