header {
  background-color: $header-bg;
  color: $header-color;
}

footer {
  background-color: $footer-bg;
  color: $footer-color;
  
  a {
    color: $action-color;
  }
}

button, .button {
  $base-size: 0.75rem;
  $base-color: lighten($primary-color, 40%);

  $light-color: lighten($base-color, 10%);
  $dark-color: darken($base-color, 10%);

  background-color: $base-color;
  background-image: linear-gradient(to bottom, $light-color, $dark-color);
  color: $white;
  font-size: $base-size;
  border: 1px solid $dark-color;
  border-radius: $base-size;
  padding: ($base-size / 4) ($base-size / 2);
  min-width: $base-size;
  height: $base-size * 2;
  line-height: $base-size;

  &:hover {
    background-color: $dark-color;
    background-image: linear-gradient(to bottom, $dark-color, $light-color);
    cursor: pointer;
  }

  &:started {
    color: $dark-color;
  }

  &:focus {
    outline: none;
  }
}

.screenreader-only {
  display: none;
}

.zebra > :nth-child(odd) {
  background-color: lighten($primary-color, 55%);
}

.drag-hover {
  background-color: $action-color;
}

%spin {
  animation-name: spin;
  animation-duration: 75s;
}

@keyframes spin {
  from { transform: rotate(0deg) }
  to   { transform: rotate(3600deg) }
}

$gray-filter: grayscale(100%) brightness(400%);
$faint-color-filter: grayscale(90%) brightness(400%);

$outline-filter:
  drop-shadow( 2px  2px 0 $action-color)
  drop-shadow(-2px  2px 0 $action-color)
  drop-shadow( 2px -2px 0 $action-color)
  drop-shadow(-2px -2px 0 $action-color);
