// to be replaced by dynamic, database values post-prototype
$cat-marriage: #f44336;
$cat-career: #ff9800;
$cat-health: #ffeb3b;
$cat-adulting: #afb42b;
$cat-money: #2e7d32;
$cat-relaxing: #03a9f4;
$cat-language: #1565c0;
$cat-creativity: #673ab7;
$cat-friends: #795548;
$cat-adventure: #212121;

.cat-Marriage {
  color: $cat-marriage;
}

.cat-Career {
  color: $cat-career;
}

.cat-Health {
  color: $cat-health;
}

.cat-Adulting {
  color: $cat-adulting;
}

.cat-Money {
  color: $cat-money;
}

.cat-Relaxing {
  color: $cat-relaxing;
}

.cat-Language {
  color: $cat-language;
}

.cat-Creativity {
  color: $cat-creativity;
}

.cat-Friends {
  color: $cat-friends;
}

.cat-Adventure {
  color: $cat-adventure;
}
